.firmFactCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;

  &.default {
    background-color: #ffffff;
  }

  &.border {
    background-color: #ffffff;
  }

  &.border:hover {
    background-color: #ffffff;
    border: 10px solid #07C06A;
    cursor: pointer;
  }

  &:hover {
    background-color: #07C06A;
    cursor: pointer;
  }
}
